<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775183300534-fl4vkpp28pp4f4i5eqvh8594gj6omcqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775183300534-fl4vkpp28pp4f4i5eqvh8594gj6omcqp</string>
	<key>API_KEY</key>
	<string>AIzaSyBIgT7nUXgOPKOgLQ3a57fGIyDeqnX1Gt4</string>
	<key>GCM_SENDER_ID</key>
	<string>775183300534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentApp</string>
	<key>PROJECT_ID</key>
	<string>ui-clone-6b9f8</string>
	<key>STORAGE_BUCKET</key>
	<string>ui-clone-6b9f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775183300534:ios:f6efde20836ab279d1b317</string>
</dict>
</plist>